/* GENERAL STYLING */

@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700);

#root {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
}

body {
  margin: 0;
  font-family: Montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  -webkit-appearance: none;
}

a:-webkit-any-link {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.no-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

input[type="text" i] {
  padding: 5px 5px 0 5px;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

h1 {
  margin: 0;
}


h2 {
  margin: 0;
}

h4 {
  margin: 0;
}



/* MY TERMS */

.hidden {
  display: none;
}

.opacity-0 {
  opacity: 0!important;
  transition: opacity 0.3s;
}

.opacity-1 {
  opacity: 1;
  transition: opacity 1s;
}



/* GENERAL STUFF */

.help-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 99999;
}

.stage {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.content {
  overflow: auto;
  height: calc(100vh - 75px);
  background-color: #FCFCFD;
}


/* MENU AREA */

.menu-bar {
  min-height: 75px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #E8E8E8;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
  padding: 0 20px 0 20px;
  position: relative;
  z-index: 1000;
}

.hamburger-container {
  padding: 0 33px 0 0;
  border-right: 1px solid #E2E3E9;
  cursor: pointer;
}

.logo{
  position: absolute;
  left: calc(50% - 62px);
  cursor: pointer;
}

.menu-right-container {
  padding: 0 0 0 33px;
  border-left: 1px solid #E2E3E9;
  display: flex;
  align-items: center;
  gap: 28px;
}

.account {
  cursor: pointer;
}


/* SIDEBAR FULL SCREEN */

.sidebar-modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000;
  cursor: pointer;
}

.sidebar-modal-slider {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  min-width: 240px;
  background-color: white;
  padding: 20px;
  overflow: auto;
}

.sidebar-menu-container {
  margin: 30px 0 0 ;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar-bottom-area-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 240px;
  padding: 20px;
}

.sidebar-account-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.sidebar-account-inner-container {
  display: flex;
  align-items: center;
  gap: 10px;
}




/* ACCOUNT MODAL */

.account-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
}

.account-modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 99;
  cursor: pointer;
}

.account-modal-slider {
  margin: 150px 0 0 0;
  max-height: 50%;
  z-index: 100;
  min-width: 600px;
  background-color: white;
  padding: 50px;
  overflow: auto;
  border-radius: 10px;
}


/* LOADER FOR WHEN CHANGING PAGES (VIEWS) */

#loader-container {
  position: fixed;
  top: 75px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  height: 100vh;
}

.loader-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
}

.loader {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: calc(40vh);
  width: 100px;
  height: 100px;
  opacity: 1;
}